@import "libs/utils/vairiables";
@import "libs/layout/header";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap');
@import "libs/components/btn";
/*.border 
{
	border: 1px solid black;
		
	}

	.red {
		border-color: red;
	}
	
	.green {
		border-color: green;
	}
	
	.blue {
		border-color: blue;
	}
	
	.purple {
		border-color: #a70da7;
}*/

body{
	margin: auto;
}
/*header*/
.displaynone
{
	display: none;
}
/*hero*/
.hero 
{
	display: flex;
	
	flex-direction: column;
	
	&_location
	{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3rem;
		background: $color_hero;
		margin-bottom: 0px;
		border-top: 3px solid darken($color_hero,10%);
		
	}
	&_location_inside
	{
		font-family: $roboto;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 8.5rem;
    	margin-left: -2rem;
	}
	&_icon
	{
		display: flex;
		height: 3rem;
	}
	&_text
	{
		font-weight: 550;
		font-size: 1rem;
	}
	&_wrapper
	{
		margin: 0px;
		background-color: $color_wrapper;
		display: flex;	
		justify-content: center;
	}
	&_wrapper_inside
	{
		width: 23rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 2rem;
	}
	&_title
	{
		margin: auto;
		font-size: 1.6rem;
		font-weight: 700;
		font-family: $roboto;
		text-align: center;
		width: 70%;
	}
	&_text_wrapper
	{
		font-size: 11.rem;
		text-align: center;
		font-family: $roboto;
		font-weight: 350;
		margin-top: 0.6rem;
		margin-bottom: 1rem;
	}
	&_icon_loc
	{
		width: 0.8rem;
	}
}
/*features*/
.global_features
{	
	margin: auto;
	margin-top: 1.7rem;
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.features
{
	&_title
	{
		margin-left: 1.1rem;
		font-family: $roboto;
	}
	&_list
	{
		display: flex;
		list-style: none;
		flex-direction: column;
		margin: auto;
		padding: 0rem;
		width: 90%;
	}
	&_checkbox
	{
		display: none;
	}
	&_element
	{
		background: $color_wrapper;
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 1rem;
		height: 4rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		border-radius: 1.2rem;
		width: 100%;
		box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
		7px 7px 20px 0px rgba(0,0,0,.1),
		4px 4px 5px 0px rgba(0,0,0,.1);
		&:hover{
			background-color: lighten($color_primary, 30%);
		}
	}
	&_under_elt
	{
		display: flex;
		align-items: center;
		
	}
	&_number
	{
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 30px;
		background-color: $color_primary;
		font-size: 10px;
		width: 15px;
		height: 16px;
		text-align: center;
		color: white;
		padding: 2px;
		margin-left: -6px;
		
	}
	&_icona
	{
		width: 0.8rem;
		margin: auto;
		margin-left: 1rem;
		margin-right: 1.3rem;	
		filter: invert(42%) sepia(2%) saturate(3%) hue-rotate(19deg) brightness(107%) contrast(84%);
		&:hover
		{
			filter: invert(39%) sepia(97%) saturate(2407%) hue-rotate(243deg) brightness(91%) contrast(89%);;
		}
	}
	&_iconb
	{
		width: 1.15rem;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 1rem;
		margin-right: 1rem;
		filter: invert(42%) sepia(2%) saturate(3%) hue-rotate(19deg) brightness(107%) contrast(84%);
			&:hover
			{
				filter: invert(39%) sepia(97%) saturate(2407%) hue-rotate(243deg) brightness(91%) contrast(89%);
			}
	}
	&_icond
	{
		display: flex;
		justify-content: center;
		align-items: center;
		margin:auto;
		
	}
	&_ictext
	{
		font-family: $roboto;
		font-weight: 600;
		
	}
}
/*Restaurants*/
.restaurants
{
background: $color_wrapper;
display: flex;
flex-direction: column;
margin: auto;
padding-bottom: 3rem;
	&_title
	{
		font-family: $roboto;
		margin-left: 1.1rem;
	}
	&_list
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: auto;
	}
	&_card
	{
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 85%;
		border-radius: 1rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem; box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
		7px 7px 20px 0px rgba(0,0,0,.1),
		4px 4px 5px 0px rgba(0,0,0,.1);
	}
	&_card_href
	{
		list-style: none;
		text-decoration: none;
		position: relative;
		background: white;
		border-radius: 1rem;
	}
	&_img_nouveau
		{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 6rem;
			height: 2rem;
			background: $color_tertiary;
			border-radius: 0.2rem;
			color: darken($color_tertiary, 50%);
			font-family: $roboto;
			margin: 0%;
		}
	&_img
	{
		width: 100%;
		height: 12rem;
		object-fit: cover;
		margin: 0px;
		border-radius: 1rem 1rem 0rem 0rem;
	}
}

.info_restaurant
{
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	background: white;
	border-radius: 0rem 0rem 1rem 1rem;
	&_localisation
	{
		width: 80%;
	}
	&_title
	{
		font-family: $roboto;
		font-size: 1.2rem;
		color: black;
		margin: 0.6rem 0.5rem 0.1rem 0.6rem;

	}
	&_text
	{
		font-family: $roboto;
		font-size: 1rem;
		color: black;
		margin: 0.3rem 0.5rem 0.7rem 0.6rem;
	}
	&_heart
	{
		width: 19%;
	}
	&_heart_ept
	{
		width: 1rem;
	}
	&_heart_full
	{
		width: 1rem;
	}
}
/*Footer*/
.footer
{
	margin: auto;
	background: $color_footer;
	width: 100%;
	&_menu
	{
		width: 70%;
		height: 15rem;
	}
	&_img
	{
		width: 6rem;
		padding-left: 2.2rem;	
		margin-top: 2rem;
	}
	&_element
	{
		list-style: none;
		margin: 0.5rem 0rem;
		&_href
		{
			text-decoration: none;
			color: white;
			font-size: 1.2rem;
		}
	}
	&_icona
	{
		width: 0.8rem;
		margin-right: 0.6rem;
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
	}
	&_iconb
	{
		width: 1rem;
		margin-right: 0.6rem;
		filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
	}
}
/*# sourceMappingURL=style.css.map */